<% if @mybland==='blands' %>
  <%= link_to new_bland_path, class: 'btn btn-primary' do %>
    <span>銘柄登録</span>
  <% end %>    
  <%= link_to blandedits_user_path(current_user), class: 'btn btn-outline-warning' do %>
    <span>編集</span>
  <% end %> 

<% else %>

  <%= link_to blands_user_path(current_user), class: 'btn btn-outline-warning' do %>
    <span>戻る</span>
  <% end %>
  
<% end %>



<ul class="list-unstyled">
  <% blands.each do |bland| %>
    <li class="media mb-3">
      <div class="media-body">
        <div class="row">
          <div class="col-sm-4">
            (銘柄名:<%= bland.name %>)
            (銘柄コード:<%= bland.code %>)            
          </div>
          <% if @mybland==='blands' %>             
          <div class="col-sm-4">
            <div class="text-right">
              <%= link_to buy_stock_path(bland.id), class: 'btn btn-success' do %>
                <span>銘柄買記録</span>
              <% end %>          
              <%= link_to sell_stock_path(bland.id), class: 'btn btn-danger' do %>
                <span>銘柄売記録</span>
              <% end %>  
            </div>                
            <table class="table table-sm"> 
              <tr><th>株数・口</th><th>金額</th><th>取引</th></tr>              
              <% bland.stocks.each do |stock| %>
                <% case stock.buying_and_selling
                   when 0 %>
                    <% buysell = "買" %>
                <% when 1 %>
                    <% buysell = "売" %>                   
                <% end %>
                <tr>
                  <td><%= stock.number %></td><td><%= stock.money %></td><td><%= buysell %></td>
                    <td>
                     <%= link_to edit_stock_path(stock), class: 'btn btn-outline-warning btn-sm' do %>
                      <i class="far fa-edit"></i>
                      <span>編集</span>
                    <% end %>                       
                  </td>
                </tr>
                
              <% end %> 
              <tr><th>合計</th><th></th><th></th><th></th></tr>                 
            </table>
          </div>
          <div class="col-sm-4">
            <div class="text-right">
              <%= link_to new_dividend_path(bland.id), class: 'btn btn-warning' do %>
                <span>配当金記録</span>
              <% end %>
            </div>               
            <table class="table table-sm"> 
              <tr><th></th><th>配当金</th><th>配当月</th></tr>  
              <% bland.dividends.each do |dividend| %>
                <tr>
                  <td></td><td><%= dividend.money %></td><td><%= dividend.month %></td>
                  <td>
                     <%= link_to edit_dividend_path(dividend), class: 'btn btn-outline-warning btn-sm' do %>
                      <i class="far fa-edit"></i>
                      <span>編集</span>
                    <% end %>                       
                  </td>
                </tr>
              
              <% end %>
              <tr><th>合計</th><th></th><th></th><th></th></tr>  
            </table> 
          </div>
          <% else %> 
            <div class="col-sm-8">
              <div class="text-right">
                <%= link_to edit_bland_path(bland), class: 'btn btn-success' do %>
                  <i class="far fa-edit"></i>
                  <span>編集</span>
                <% end %>
                <%= link_to bland, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger' do %>
                  <i class="far fa-trash-alt"></i>
                  <span>削除</span>
                <% end %>
              </div>              
            </div>
          <% end %>            
        </div>
      </div>
    </li>
  <% end %>
  <%=paginate blands %>
</ul>